*{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
a{
    text-decoration: none;
}
h5{
    font-family: Open Sans Condensed;
    font-size: 17px;
    margin-top: 1px;
}
hr{
    width: 90%;
    margin: 20px 0px 10px 0px;
}
.top{
    width: 100%;
    height: 115vh;
}
.nav-bar{
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: space-between; /*espaço entre os elementos tambem existe o space-around*/
    padding: 1% 2%;
}
h3{
    color: rgb(207, 205, 205);
    font-family: Open Sans Condensed;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-bar h3:hover{
    color: rgb(192, 10, 177);
}
.arrow {
    position: absolute;
    padding: 5px;
    box-shadow: 2px -2px 0 1px rgb(207, 205, 205);
    border: solid transparent;
    border-width: 0 0 2px 2px;
    margin-left: 160px;
    transform: rotate(45deg);
    transition: all .3s;
}
.nav-bar h3:hover + .arrow{
    box-shadow: 2px -2px 0 1px rgb(192, 10, 177);
    transform: rotateZ(227deg);
}
.street{
    opacity: 0;
    color: rgb(207, 205, 205);
    margin-left: -500px;
    transition: all .5s;
}
.social{
    width: 30px;
    margin-left: 30px;
}
.nav-logo{
    padding: 1%;
    display: flex;
    background: none;
}
.logo{
    position: absolute;
    width: 230px;
    margin-left: 10%;
    margin-top: 1%;
}
.list-selection{
    display: flex;
    padding: 1% 5%;
    margin-right: 7%;
    margin-left: auto;
}
.list-selection li{
    margin: 30px 15px 0px 15px;
    cursor: pointer;
    font-family: Open Sans Condensed;
    font-size: 22px;
}
.list-selection li:hover{
    color: rgb(192, 10, 177);
}
.list-selection hr{
    width: 100px;
    margin-top: 0px;
    opacity: .1;
}
.painel-female{
    position: absolute;
    width: 35%;
    height: 300px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.background-painel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(255,255,255,1), rgba(255,255,255,1),  rgba(255,255,255,.9),  rgba(255,255,255,.5),  rgba(255,255,255,.2));
    z-index: -1;
}
.painel-female ul{
    display: grid;
    grid-template-columns: 140px 140px 140px;
    align-items: center;
    padding: 0px 20px 20px 20px;
    margin-top: 30px;
}
.painel-female a{
    color: black;
}
.painel-female ul li{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    margin-top: 10px;
}
.painel-male{
    position: absolute;
    width: 35%;
    height: 300px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.painel-male ul{
    display: grid;
    grid-template-columns: 140px 140px 140px;
    align-items: center;
    padding: 0px 20px 20px 20px;
    margin-top: 30px;
}
.painel-male a{
    color: black;
}
.painel-male ul li{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    margin-top: 10px;
}
.painel-childrens{
    position: absolute;
    width: 35%;
    height: 400px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.painel-childrens ul{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    align-items: center;
    padding: 0px 20px 20px 20px;
    margin-top: 30px;
}
.painel-childrens a{
    color: black;
}
.painel-childrens ul li{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    margin-top: 10px;
}
.presentation{
    display: flex;
}
.presentation #models img{
    position: absolute;
    right: 5%;
    width: 900px;
    height: 600px;
    margin: 0px 0px 0px 50px;
    opacity: 0;
    transition: 1s;
    z-index: -2;
}
.presentation #models img.selected{
    opacity: 1;
    animation: move 1s;
}

@keyframes move{
    0%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
.text-area{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin-left: 160px;
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1),  rgba(255,255,255,1),  rgba(255,255,255,.01));
    text-align: center;
    align-items: center;
}
.text-area h1{
    font-size: 70px;
    font-family: Anton;
    margin-top: 170px;
    transition: all 1s;
}
.text-area h3{
    color: rgb(99, 97, 97); 
    transition: all 1s;
}
.station{
    width: 300px;
    height: 70px;
    background-color: rgb(192, 10, 177);
    color: #ffffff;
    padding: 10px;
    margin-top: 70px;
    font-family: Anton;
    font-size: 30px;
}
.presentation button{
    border: none;
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}
.presentation button:focus{
    outline-style: none;
}
.presentation button:hover{
    background-color: rgba(200, 200, 200, .5);
}
.button-left{
    position: absolute;
    left: 20px;
    height: 600px;
    border-radius: 20px 0px 0px 20px;
}
.button-right{
    position: absolute;
    right: 17px;
    height: 600px;
    transform: rotate(180deg);
    border-radius: 20px 0px 0px 20px;
}
.button-models{
    opacity: .5;
    width: 50px;
}
.loop{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.img-loop{
    width: 135px;
    padding-top: 10px;
}
.img-loop img{
    width: 100px;
    margin: 20px 0px 0px 17px;
    cursor: pointer;
}
.bar-point{
    height: 3px;
    background-color: rgb(192, 10, 177);
    margin: -10px 0px 0px -197px;
}
.back-bar{
    position: absolute;
    width: 540px;
    height: 7px;
    background-color:rgb(0, 0, 0);
    margin: -5px 0px 0px -197px;
    z-index: -1;
}
.body-section{
    width: 100%;
    height: 217rem;
    display: flex;
    flex-direction: column;
}
.production{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.production h3{
    margin-top: 7%;
    color: black;
    cursor: auto;
    font-size: 25px;
}

.itens{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itens h4{
    font-family: Open Sans Condensed;
    font-size: 30px;
    margin-top: 30px;
}
.base-shirt{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    padding-left: 30px;
    align-items: center;
}
.shirt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 440px;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.shirt-sell{
    width: 250px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s;
}
.shirt-sell:hover{
    width: 277px;
}
.price{
    font-size: 22px;
    color: rgb(192, 10, 177);
}
.credits{
    width: 170px;
    height: 27px;
    text-align: center;
    background-color: rgb(192, 10, 177);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
    color: #ffffff;
}
.base-pants{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    padding-left: 30px;
    align-items: center;
}
.pants{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 440px;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.pants-sell{
    width: 220px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s;
}
.pants-sell:hover{
    width: 247px;
}
.base-shoes{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    padding-left: 30px;
    align-items: center;
}
.shoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 440px;
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.shoes-sell{
    width: 220px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s;
}
.shoes-sell:hover{
    width: 247px;
}
.base-footer{
    width: 100%;
    height: 70vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer img{
    width: 140px;
    margin-top: 70px;
}

.list-footer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.list-selection-footer{
  display: flex;
}
.list-selection-footer li{
    margin: 50px 15px 0px 15px;
    cursor: pointer;
    font-family: Open Sans Condensed;
    font-size: 22px;
}
.list-selection-footer li:hover{
    color: rgb(192, 10, 177);
}

.come-on{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}
.come-on h3, h4{
    margin: 10px;
    font-family:  Open Sans Condensed;
}
.social-footer{
    display: flex;
    align-items: center;
}
.social-footer img{
    width: 37px;
    margin: 30px;
}


