*{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
a{
    text-decoration: none;
}
.top{
    width: 100%;
    height: 115vh;
}
.nav-bar{
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: space-between; /*espaço entre os elementos tambem existe o space-around*/
    padding: 1% 2%;
}
h3{
    color: rgb(207, 205, 205);
    font-family: Open Sans Condensed;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-bar h3:hover{
    color: rgb(288, 13, 185);
}
.social{
    width: 30px;
    margin-left: 30px;
}
.nav-logo{
    padding: 1%;
    display: flex;
    background: none;
}
.logo{
    position: absolute;
    width: 230px;
    margin-left: 10%;
    margin-top: 1%;
}
.list-selection{
    display: flex;
    padding: 1% 5%;
    margin-right: 7%;
    margin-left: auto;
}
.list-selection li{
    margin: 50px 20px 0px 20px;
    cursor: pointer;
    font-family: Open Sans Condensed;
    font-size: 22px;
}
.list-selection li:hover{
    color: rgb(288, 13, 185);
}
.presentation{
    display: flex;
}
.models{
    position: absolute;
    right: 5%;
    width: 900px;
    height: 600px;
    margin: 0px 0px 0px 50px;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/23/04/01/woman-1274056_960_720.jpg);
    z-index: -1;
}
.text-area{
    width: 600px;
    height: 600px;
    background-image: linear-gradient(to right,rgba(255,255,255,1), rgba(255,255,255,1),  rgba(255,255,255,1),  rgba(255,255,255,.01));
    text-align: center;
}
.text-area h1{
    font-size: 100px;
    font-family: Anton;
    margin-top: 100px;
}
.text-area h3{
    color: rgb(99, 97, 97); 
}
.presentation button{
    border: none;
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}
.presentation button:focus{
    outline-style: none;
}
.presentation button:hover{
    background-color: rgba(200, 200, 200, .5);
}
.button-left{
    position: absolute;
    left: 20px;
    height: 600px;
    border-radius: 20px 0px 0px 20px;
}
.button-right{
    position: absolute;
    right: 17px;
    height: 600px;
    transform: rotate(180deg);
    border-radius: 20px 0px 0px 20px;
}
.button-models{
    opacity: .5;
    width: 50px;
}
.loop{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.img-loop{
    width: 135px;
    padding-top: 10px;
}
.img-loop img{
    width: 20px;
    margin-left: 17px;
    cursor: pointer;
}

.body-section{
    width: 100%;
    height: 100vh;
}
.production{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.production h3{
    margin-top: 7%;
    color: black;
    cursor: auto;
    font-size: 25px;
}
.production hr{
    width: 90%;
    margin-left: 60px;
}
